<form #registerForm="ngForm" (ngSubmit)="onRegister()">
  <div class="container">
    <div class="left-section">
      <div class="title text-center mb-6">
        <h1>CREATE ACCOUNT</h1>
        <p>Please create an Account</p>
      </div>

      <div *ngIf="errorMsg.length" class="mb-4">
        <p *ngFor="let msg of errorMsg" class="text-red-600 font-semibold">{{ msg }}</p>
      </div>

      <div class="social-buttons">
        <div class="form-group">
          <label for="firstname">First Name</label>
          <input [(ngModel)]="customer.firstName"
                 name="firstName"
                 required
                 minlength="3"
                 type="text"
                 id="firstname"
                 placeholder="Firstname"
                 class="input-field"
                 #firstName="ngModel">
          <div *ngIf="firstName.invalid && firstName.touched" class="text-red-600 text-sm">
            <div *ngIf="firstName.errors?.['required']">First name is required.</div>
            <div *ngIf="firstName.errors?.['minlength']">First name must be at least 3 characters.</div>
          </div>
        </div>

        <div class="form-group">
          <label for="lastname">Last Name</label>
          <input [(ngModel)]="customer.lastName"
                 name="lastName"
                 required
                 minlength="3"
                 type="text"
                 id="lastname"
                 placeholder="Lastname"
                 class="input-field"
                 #lastName="ngModel">
          <div *ngIf="lastName.invalid && lastName.touched" class="text-red-600 text-sm">
            <div *ngIf="lastName.errors?.['required']">Last name is required.</div>
            <div *ngIf="lastName.errors?.['minlength']">Last name must be at least 3 characters.</div>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="email">Email</label>
        <input [(ngModel)]="customer.email"
               name="email"
               required
               email
               type="email"
               id="email"
               placeholder="name@gmail.com"
               class="input-field"
               #email="ngModel">
        <div *ngIf="email.invalid && email.touched" class="text-red-600 text-sm">
          <div *ngIf="email.errors?.['required']">Email is required.</div>
          <div *ngIf="email.errors?.['email']">Enter a valid email.</div>
        </div>
      </div>

      <div class="form-group">
        <label for="password">Password</label>
        <input [(ngModel)]="customer.password"
               name="password"
               required
               minlength="6"
               type="password"
               id="password"
               placeholder="password"
               class="input-field"
               #password="ngModel">
        <div *ngIf="password.invalid && password.touched" class="text-red-600 text-sm">
          <div *ngIf="password.errors?.['required']">Password is required.</div>
          <div *ngIf="password.errors?.['minlength']">Password must be at least 6 characters long.</div>
        </div>
      </div>

      <div>
        <button type="submit" class="btn-primary cursor-pointer" [disabled]="registerForm.invalid">
          <em>&nbsp;Sign Up</em>
        </button>

      </div>

      <div class="divider">
        <div class="line"></div>
        <span>***Or***</span>
        <div class="line"></div>
      </div>

      <div>
        Already have an account?&nbsp;
        <button (click)="login()" type="button" style="color: white; background-color: green" class="btn-social">
          Log In
        </button>
      </div>
    </div>

    <div class="right-section">
      <img src="../public/login.jpg" class="image" alt="login image" height="1080" width="1620">
    </div>
  </div>
</form>
