<div class="flex justify-center p-6 max-w-6xl mx-auto">
  <div class="p-10 left-section">
    <div class="text-4xl text-blue-600 font-bold">&#12638;</div>
    <h1>LOG IN</h1>
    <h2>Welcome back! Please sign in to your account</h2>
    <form>
      @if (errorMsg.length) {
          <div>
           @for (msg of errorMsg; track $index) { <p>{{ msg }}</p>}
          </div>
        }
      <div class="form-group">
        <label for="username">Email address</label>
        <input [(ngModel)]="authRequest.email"  [ngModelOptions]="{ standalone: true }" type="email" id="username" placeholder="name@gmail.com" class="input-field">
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input [(ngModel)]="authRequest.password"  [ngModelOptions]="{ standalone: true } "type="password" id="password" placeholder="password" class="input-field">
      </div>
      <div class="form-footer">
        <div>
          <input type="checkbox" id="remember">
          <label for="remember">Remember me</label>
        </div>
        <a href="#" class="link">Forgot password?</a>
      </div>
      <button (click)="login()" class="w-full bg-blue-800 text-white  hover:cursor-pointer btn-primary" type="submit">Sign in</button>
    </form>
    <div class="flex items-center divider">
      <div class="line"></div>
      <span>Or continue with</span>
      <div class="line"></div>
    </div>
    <div class="social-buttons">
      <button class="btn-social  hover:cursor-pointer">
        <img src="https://www.svgrepo.com/show/355037/google.svg" class="icon"> Google
      </button>
    </div>
    <div>
      Don't have an account?&nbsp;
      <button (click)="register()" style="color: white; background-color: green" type="button" class=" btn-social hover:cursor-pointer"> Register</button>
    </div>
  </div>

</div>
