<!-- NAVBAR (Visible only if NOT in Admin) -->
<header *ngIf="!isAdminPage()"  class="fixed top-0 left-0 right-0 z-50 bg-white shadow" >
  <app-announcement-bar></app-announcement-bar>
  <app-navbar></app-navbar>
  <app-navbar-links></app-navbar-links>
</header>

<!-- MAIN CONTENT -->
<main class="pt-[160px] pb-[80px] overflow-y-auto h-screen">
  <router-outlet></router-outlet>
</main>

<!-- FOOTER (Visible only if NOT in Admin) -->
<footer *ngIf="!isAdminPage()" >
  <app-footer></app-footer>
</footer>

