<div class="min-h-screen flex flex-col">

  <!-- NAVBAR -->
  @if (!isAdminPage()) {
    <header class="fixed top-0 left-0 right-0 z-50 bg-white shadow">
      <app-announcement-bar></app-announcement-bar>
      <app-navbar></app-navbar>
      <app-navbar-links></app-navbar-links>
    </header>
  }

  <!-- MAIN CONTENT -->
  <main class="flex-1 pt-40">
    <router-outlet></router-outlet>
    <app-cart-modal></app-cart-modal>
  </main>

  <!-- FOOTER -->
  @if (!isAdminPage()) {
    <app-footer></app-footer>
  }

</div>
