<section class="max-w-8xl mx-auto px-6 py-10">

  <!-- Header -->
  <div class="flex items-center justify-between mb-4">
    <h2 class="text-xl font-semibold">Trending</h2>


    <div class="flex gap-2">
      <button
        (click)="scroll(scrollRef, -1)"
        class="w-8 h-8 rounded-full border flex items-center justify-center hover:bg-green-50"
      >
        ◀
      </button>
      <button
        (click)="scroll(scrollRef, 1)"
        class="w-8 h-8 rounded-full border flex items-center justify-center hover:bg-green-50"
      >
        ▶
      </button>
    </div>
  </div>

  @if (isLoading) {
    <div class="grid grid-cols-2 lg:grid-cols-4 gap-6">
      @for (i of [1,2,3,4,5,6,7,8]; track i) {
        <div class="h-60 product-card bg-gray-200 animate-pulse rounded-lg"></div>
      }
    </div>
  }

  @if (hasError) {
    <div class="text-center py-20">
      <p class="text-red-500 font-semibold">Server unavailable</p>
      <p class="text-gray-400 text-sm">{{ errorMessage }}</p>
    </div>
  }

  <!-- Products Slider -->
  <div
    #scrollRef
    class="flex gap-5 overflow-x-auto scroll-smooth no-scrollbar pb-2"
  >

    @if (!isLoading && !hasError) {
      @for (medicine of trendingProducts | slice:0:8; track medicine.productId){
    <app-product-card
      type="trending"
      [medicine]="medicine"
    >
    </app-product-card>
      }
    }
  </div>

  <!-- View All -->
  <div class="text-right mt-4">
    <a class="text-green-600 text-sm hover:underline cursor-pointer" routerLink="/trending">
      View All Trending products →
    </a>
  </div>

</section>
