<div class="container">
  <div class="left-section">
    <div class="logo">&#12638;</div>
    <h1>LOG IN</h1>
    <h2>Welcome back! Please sign in to your account</h2>
    <form>
          <div *ngIf="errorMsg.length">
            <p *ngFor="let msg of errorMsg">{{ msg }}</p>
          </div>
      <div class="form-group">
        <label for="username">Email address</label>
        <input [(ngModel)]="authRequest.email"  [ngModelOptions]="{ standalone: true }" type="email" id="username" placeholder="name@gmail.com" class="input-field">
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input [(ngModel)]="authRequest.password"  [ngModelOptions]="{ standalone: true } "type="password" id="password" placeholder="password" class="input-field">
      </div>
      <div class="form-footer">
        <div>
          <input type="checkbox" id="remember">
          <label for="remember">Remember me</label>
        </div>
        <a href="#" class="link">Forgot password?</a>
      </div>
      <button (click)="login()" class="btn-primary" type="submit">Sign in</button>
    </form>
    <div class="divider">
      <div class="line"></div>
      <span>Or continue with</span>
      <div class="line"></div>
    </div>
    <div class="social-buttons">
      <button class="btn-social">
        <img src="https://www.svgrepo.com/show/355037/google.svg" class="icon"> Google
      </button>
    </div>
    <div>
      Don't have an account?&nbsp;
      <button (click)="register()" style="color: white; background-color: green" type="button" class=" btn-social"> Register</button>
    </div>
  </div>
  <div class="right-section">
<!--    <img src="../public/login.jpg" class="image" alt="login image" height="1080" width="1620">-->
    <img src = "../public/login.jpg" alt = "">
  </div>
</div>
