
<!-- intro section starts here -->
<section class = "about-section">
  <div class = "about-bg">
    <h2>About Us</h2>
    <p class = "text">A trusted brand in the automotive industry.</p>
  </div>
  <!-- intro section ends here -->


  <!-- plan section starts here -->
  <section class="plan-container">
    <h2 class="section-header">Why choose us?</h2>
    <div class="plan-grid">
      <div class="plan-content">
        <span class="number"><i class="fa fa-car"></i></span>
        <h4>Friendly prices</h4>
        <p>
          We offer competitive prices and have something for every budget.
        </p>
        <span class="number"><i class="fa fa-car"></i></span>
        <h4>Client Satisfaction</h4>
        <p>
          We are committed  to serve  and prioritize our clients needs with utmost professionalism and transparency.
        </p>
        <span class="number"><i class="fa fa-car"></i></span>
        <h4>Wide Variety</h4>
        <p>
          We bring you access to all the major manufacturers and the most popular models in the industry.
        </p>
      </div>
      <div class="plan-image">
        <img src="" alt="plan" />
        <img src="" alt="plan" />
        <img src="" alt="plan" />
      </div>
    </div>
  </section>

  <!-- plan section ends here -->




  <!-- about section starts here -->
  <section class="about-container">
    <h2 class="section-header">About Our Company</h2>
    <p class="section-subheader">
      CarHire is a familiar symbol of performance, image, reliability, pride
      and peace of mind all through.
      Passionate to satisfy the unique needs and challanges of our customers, our company supplies each car
      to every customer's specifications.
      Wherever you want to go, you can count on our uncompromising company to supply automobiles
      that describe your taste and style.
    </p>
    <div class="about-image">
      <div class="about-grid">
        <div class="about-card">
          <span><i class="fa fa-car"></i></span>
          <div class="about-card-content">
            <h4>Advanced Technology</h4>
            <p>We are focused on renting cars equiped with modern technology
              that delivers better control, perfomance and lifestyle.</p>
          </div>
        </div>
        <div class="about-card">
          <span><i class="fa fa-car"></i></span>
          <div class="join-card-content">
            <h4>Road Presence</h4>
            <p>We rent attention-grabbing vehicles with real road presence and genuine performance.</p>
          </div>
        </div>
        <div class="about-card">
          <span><i class="fa fa-car"></i></span>
          <div class="about-card-content">
            <h4>Driver Confidence</h4>
            <p>We are obsessive about raising the bar in terms of safe cars which
              will give peace of mind to the driver and all occupants.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- about section ends here -->


  <section class="spacing"></section>
