
.announcement-text {
  white-space: nowrap;
  padding-left: 100%;
  font-size: 1rem;
  animation: scroll-left 15s linear infinite;
}

@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
