<div class="bg-white shadow-inner py-2 flex">

  <div class="flex justify-center w-full max-w-6xl">
    <ul class="hidden lg:flex gap-x-5 items-center justify-center w-full">
      <li class="cursor-pointer hover:scale-110 transition-transform"> <a routerLink="product" class="hover:text-gray-600">Products</a></li>
      <li class="cursor-pointer hover:scale-110 transition-transform"><a routerLink="about" class="hover:text-gray-600">About Us</a></li>
      <li class="cursor-pointer hover:scale-110 transition-transform"><a routerLink="contact" class="hover:text-gray-600">Contact Us</a></li>
      <li class="cursor-pointer hover:scale-110 transition-transform"><a routerLink="menu" class="hover:text-gray-600">Help</a></li>
      <li><button
          class="cursor-pointer bg-blue-500 text-white rounded-md hover:scale-110 transition-transform px-3.5 py-2">
          <a routerLink="prescriptions" class="hover:text-white"> Prescription Upload</a>
        </button>
      </li>
    </ul>
  </div>
</div>