<section class="w-full py-8">
  <div class="mb-4 flex items-center justify-between">
    <h2 class="text-xl font-semibold">Featured Products</h2>

    <div class="flex gap-2">
      <button (click)="scroll(scrollRef, -1)"
        class="flex h-8 w-8 items-center justify-center rounded-full border hover:bg-green-50">
        ◀
      </button>
      <button (click)="scroll(scrollRef, 1)"
        class="flex h-8 w-8 items-center justify-center rounded-full border hover:bg-green-50">
        ▶
      </button>
    </div>
  </div>

  <div #scrollRef class="no-scrollbar flex items-stretch gap-5 overflow-x-auto scroll-smooth pb-2">
    @for (medicine of featuredProducts; track medicine.productId) {
    <app-product-card type="trending" [medicine]="medicine"></app-product-card>
    }
  </div>

  <div class="mt-4 text-right">
    <span class="cursor-default text-sm text-green-600">Featured products</span>
  </div>
</section>