<!-- <app-slide-over
  [open]="isEditOpen"
  (close)="closeEdit()"
>
  <!-- Edit Form -->
  <!-- <div *ngIf="selectedProduct">
    <h4 class="font-semibold mb-4">Edit Product</h4>

    <label class="block text-sm mb-1">Product Name</label>
    <input
      type="text"
      class="w-full border rounded px-3 py-2 mb-3"
      [(ngModel)]="selectedProduct.name"
    />

    <label class="block text-sm mb-1">Unit Price</label>
    <input
      type="number"
      class="w-full border rounded px-3 py-2 mb-3"
      [(ngModel)]="selectedProduct.price"
    />

    <button class="w-full bg-blue-600 text-white py-2 rounded">
      Save Changes
    </button>
  </div> 
</app-slide-over> -->
