<!--&lt;!&ndash;<p>Medicine</p>&ndash;&gt;-->
<!--&lt;!&ndash;<div>&ndash;&gt;-->
<!--&lt;!&ndash;  <span *ngFor="let medicine of medicineRespone.content">{{medicine.name}}</span>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--<div class="product-grid">-->
<!--  <div class="product" *ngFor="let product of products">-->
<!--    <img [src]="product.image" alt="{{ product.name }}" class="product-image">-->
<!--    <div class="product-info">-->
<!--      <h3 class="product-name">{{ product.name }}</h3>-->
<!--      <p class="product-price">${{ product.price }}</p>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
