<section class="py-2 px-2">
  <!-- Title Section -->
  <div class="text-center mb-4">
    <h2 class="text-xl font-semibold text-blue-600">New Arrivals</h2>
  </div>

  <!-- Carousel Section -->
  <div class="swiper-container">
    <div class="swiper-wrapper">
      <a
        *ngFor="let product of products.content"
        [routerLink]="['/product', product.productId]"
        class="swiper-slide bg-gray-100 rounded-md overflow-hidden block w-50 aspect-square mx-2"
      >
        <img
          [attr.loading]="'lazy'"
          [src]="'data:image/jpeg;base64,' + product.image"
          class="w-full h-full object-cover"
          alt="Product"
        />
      </a>
    </div>

    <!-- Navigation Buttons -->
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
  </div>
</section>
